@tailwind base;
@tailwind components;
@tailwind utilities;

/* header */
header {
    
    margin-bottom: 10rem;
    height: 100vh;
    background-image:
        linear-gradient(to right bottom,
            rgba(255, 255, 255, 0.293),
            rgba(255, 255, 255, 0.56)),
        url('img/header-background.jpg');

    background-size: cover;
    background-position: top;
    position: relative;


}
.hide{
    display: none;
}
.logo{
 margin-top: -3rem;
}
.menuNav{
    margin-top: 3rem;
}

/* main */
/* Accueil */
.green-score {
    color: rgba(101, 183, 65, 1);
    font-weight: bolder;
}
.content-header{
    margin-left: 20%;
    margin-top: 8%;
}
.Bienvenue{
    font-size: xx-large;
    font-weight: bolder;
}
.paragraphBienvenue{
    margin-top: 5px;
   
}
.divHeader{
    margin-top: 20px;
    background-color: #fff;
    padding: 10px 40px 10px 20px;
    width: fit-content;
    border-radius: 5px;
}
.titreBoutton{
    background-color: rgba(171, 194, 112, 0.74);
    padding: 9px 5px 9px 10px;
    margin-left: -17px;
}

.mainAccueil{
    margin: -2rem 4rem 4rem 4rem;
}
.imgAccueil{
margin-left: 3rem;
margin: 0 40px 40px 40px;
}
.titreAccueil{
font-weight: bold;
font-size: large;
margin-bottom: 1rem;

}
.pAccueil{
    margin-bottom: 3rem;
}
.BouttonAccuil{
    background-color:rgba(254, 200, 104, 1) ;
    padding: 10px 10px;
    border-radius: 5px;
    margin-top: 5rem;
}



/* login */
.formLogin{
    padding: 4rem;
    margin: 3rem 0;
}
.connxBoutton{
    background-color: #3B82F6;
    padding: 7px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
}
/*sing in */
.iconSignup{
width: 70px;
height: 70px;
margin: 1rem 4rem 1rem 4rem;
}
#formPersonne {
    margin: 2rem 30%;
    width: 19rem;
    padding: 1rem 3rem;
}
#formEntreprise{
    margin: -3rem 30%;
    width: 19rem;
    padding: 1rem 3rem;
   
}
/* outil de calcule */
.titreHeaderOutil{
    font-weight: bolder;
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: -5rem;
}
#scroll-icon{
width: 2rem;
height: 2rem;
scroll-behavior: smooth;
}
#scroll-icon:hover{
    cursor: pointer;
}
.formOutil{
  border: none; 
  margin: 1rem 10%; 
}
.categorie{
    padding: 2rem;
    border-radius: 5px;
    border: solid 1px;
    margin: 1rem 0;
}
.titreCateg{
    font-weight:bolder ;
    margin: 1rem 0;
}
.formOutil input{
width: 6rem;
padding: 2px;
margin: 0 0 2rem 0;
}
.formOutil label{
width: 30rem;
margin: 0 0 2rem 0;
}

/*guide */
.scroll-smooth {
    scroll-behavior: smooth;
  }



.erreurs{
    color: brown;
    font-weight: lighter;
}
a, li,
h1,
h2,
h3,
h4,
h5,
h5,
button {
    font-family: "Roboto";
    font-weight: normal;
}
input{
    border:solid 1px
}
.btn::hover{
    cursor: pointer;
}
p {
    font-family: "Montserrat";

}

footer {
    border: solid 1px;
}




.brand-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.brand {
    font-size: 20px;
}

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 30px;
}

.heading-primary-main {
    display: block;
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 5px;
}

.heading-primary-sub {
    display: block;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 7.4px;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
    font-size: 14px;

}
form{
    background-color: white ;
    border: solid 1px 

}